@using Models.Authors
@model AuthorModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Author details";
}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11">
            <div class="row justify-content-center">
                <h3> @Html.DisplayFor(model => model.Name)</h3>
                <hr />
                @if (User.IsInRole("Admin") && TempData["ResponseMessage"] is not null && TempData["Response"] is not null && TempData["Response"].Equals(true))
                {
                    <div class="text-center text-success">
                        @TempData["ResponseMessage"]
                    </div>
                    <a asp-action="AddAuthor" asp-controller="Home" asp-area="Admin" class="text-color-2">Add new author</a>
                }
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-5 col-md-4 col-lg-3 d-flex justify-content-center">
                        <img src="@Url.Content(Model.PictureURL)" alt="@Model.Name" class="author-img-large">
                    </div>
                    <div class="col-12 col-sm-6 col-md-7 col-lg-8 d-flex justify-content-center">
                        <p class="justify-text">
                            @Html.DisplayFor(model => model.About)
                        </p>
                    </div>
                </div>
                <div class="row">
                    @if (Model.Books is null || Model.Books.Count == 0)
                        {
                            <hr />
                            <h4 class="m-2">No books yet</h4>
                        }
                    else{
                        <h4 class="bg-dark text-color-1 p-1">Books</h4>
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                            @foreach (var book in Model.Books)
                            {
                                <div class="swiper-slide m-0">
                                    <div class="d-flex m-2 flex-column book-item">
                                        <div>
                                            <a href="@Url.Action("ViewBookDetails", "Home", new { id = book.Id })" title="@book.Title">
                                                <img src="@Url.Content(book.PictureURL)" alt="@book.Title" class=" book-img">
                                            </a>
                                            <span class="text-dark fw-bold font-14">@book.Title</span>
                                            <br />
                                            <a class="text-decoration-none text-dark" href="@Url.Action("ViewAuthorDetails", "Home", new { id = book.AuthorId })" title="@book.AuthorName">
                                                <span class="fst-italic font-12">@book.AuthorName</span>
                                            </a>
                                        </div>
                                        <div class="mt-auto">
                                            <span class="fw-bolder font-12">@("$" + book.Price)</span>
                                            <br />
                                            @if (User.IsInRole("User"))
                                            {
                                                if (book.Inventory == 0)
                                                {
                                                    <span class="text-secondary"><em>Currently unavailable</em></span>
                                                }
                                                else
                                                {
                                                    <div class="row justify-content-center">
                                                        <a asp-action="AddBookToCart" asp-controller="Home" asp-area="User" asp-route-id="@book.Id" asp-route-numberOfCopies="1" 
                                                                   class="action-btn">
                                                            Add to cart
                                                        </a>
                                                        <a asp-action="AddBookToFavorites" asp-controller="Home" asp-area="User" asp-route-id="@book.Id" class="action-btn">
                                                            Add to favorites
                                                        </a>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    }
                </div>
                @if(User.IsInRole("Admin")){
                    <div class="d-flex flex-row justify-content-center">
                        @Html.ActionLink("Edit", "EditAuthor", new { area = "Admin", id = Model.Id }, new { @class = "btn form-btn" })
                        @Html.ActionLink("Delete", "DeleteAuthor", new { area = "Admin", id = Model.Id }, new { @class = "btn form-btn" })
                    </div>
                }
            </div>
        </div>
    </div>
    <style>
        .mySwiper {
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .swiper-slide {
            display: flex;
            justify-content: center;
            margin-left: 0;
            margin-right: 0;
        }

        .swiper-button-prev,
        .swiper-button-next {
            color: #C0A9BD !important;
            width: 30px;
            height: 30px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 50%;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
        }

            .swiper-button-prev::after,
            .swiper-button-next::after {
                font-size: 16px !important;
                font-weight: bold;
            }
    </style>
</div>

@section Scripts {
    <script>
        window.addEventListener("load", function () {
            document.querySelectorAll('.mySwiper').forEach(function (el) {
                new Swiper(el, {
                    slidesPerView: 1,
                    slidesPerGroup: 1,
                    spaceBetween: 0,
                    navigation: {
                        nextEl: el.querySelector('.swiper-button-next'),
                        prevEl: el.querySelector('.swiper-button-prev'),
                    },
                    breakpoints: {
                        1200: { slidesPerView: 5, slidesPerGroup: 1 },
                        1024: { slidesPerView: 4, slidesPerGroup: 1 },
                        700: { slidesPerView: 3, slidesPerGroup: 1 },
                        500: { slidesPerView: 2, slidesPerGroup: 1 }
                    }
                });
            });
        });
    </script>
}